Repository info-dsm/INFO_Backend_v2, changes with the labels that .github/labeler.yml gives for each.
All labels: apigateway, applies, auth, company, email, employment, file, notice, announcement, user

.github/labeler.yml:

apigateway:
  - "apiGateway/**/*"
  - "common/**/*"
applies:
  - "common/**/*"
  - "applies/**/*"
auth:
  - "common/**/*"
  - "auth/**/*"
company:
  - "common/**/*"
  - "company/**/*"
email:
  - "common/**/*"
  - "email/**/*"
employment:
  - "common/**/*"
  - "employment/**/*"
file:
  - "common/**/*"
  - "file/**/*"
notice:
  - "common/**/*"
  - "notice/**/*"
announcement:
  - "common/**/*"
  - "announcement/**/*"
user:
  - "common/**/*"
  - "user/**/*"

update other service connection setting
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/rest/NoticeFeignClient.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/rest/NoticeFeignClientFallbackFactory.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/output/notice/NoticePort.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/company/LoadCompany.kt
Labels: company

add function for company service
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/NoticeAdapter.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/LoadNoticeUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/output/LoadNoticePort.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/LoadNotice.kt
  notice/src/main/resources/application.yml
Labels: notice

change config profile
  notice/src/main/resources/application.yml
Labels: notice

update
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/LoadNoticeUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/LoadNotice.kt
Labels: notice

update
  employment/src/main/kotlin/com/info/info_v2_backend/employment/application/service/LoadEmployment.kt
Labels: employment

update
  employment/src/main/kotlin/com/info/info_v2_backend/employment/adapter/input/rest/configuration/EmploymentExceptionHandler.kt
Labels: employment

bug fix
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/TokenProvider.kt
Labels: auth
