Repository info-dsm/INFO_Backend_v2, changes with the labels that .github/labeler.yml gives for each.
All labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

.github/labeler.yml:

apigateway:
  - "apiGateway/**/*"
  - "common/**/*"
applies:
  - "common/**/*"
  - "applies/**/*"
auth:
  - "common/**/*"
  - "auth/**/*"
company:
  - "common/**/*"
  - "company/**/*"
email:
  - "common/**/*"
  - "email/**/*"
employment:
  - "common/**/*"
  - "employment/**/*"
file:
  - "common/**/*"
  - "file/**/*"
notice:
  - "common/**/*"
  - "notice/**/*"
statistics:
  - "common/**/*"
  - "statistics/**/*"
user:
  - "common/**/*"
  - "user/**/*"

remove Applies Before Applied
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/ApplyApplies.kt
Labels: applies

fix remove bug fix
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/input/rest/FileController.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadAttachment.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadResume.kt
Labels: file

add @Transactional
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/AttachmentRepository.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/ResumeRepository.kt
Labels: file

change update문
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/ResumeRepository.kt
Labels: file

file_is_deleted = 'true' -> file_is_deleted = true
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/ResumeRepository.kt
Labels: file

Remove Email Check
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

Remove Email Check Code
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/input/RegisterCompanyUsecase.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

Auth ExceptionHandler
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/configuration/AuthExceptionHandler.kt
Labels: auth

Remove Method Argument Not Validation Exception
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/configuration/AuthExceptionHandler.kt
Labels: auth

edit
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/configuration/AuthExceptionHandler.kt
Labels: auth

update
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/configuration/AuthExceptionHandler.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/UserFeignClient.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/configuration/FeignErrorDecoder.kt
  common/src/main/kotlin/com/info/info_v2_backend/common/exception/ErrorCode.kt
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

Auth
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/configuration/FeignErrorDecoder.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/configuration/FeignErrorDecoderConfiguration.kt
Labels: auth

update exception Handler
  apiGateway/src/main/kotlin/com/info/info_v2_backend/apiGateway/filter/GlobalFilter.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/configuration/AppliesExceptionHandler.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/configuration/AuthExceptionHandler.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/configuration/FeignErrorDecoder.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/configuration/CompanyExceptionHandler.kt
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/input/rest/configuration/EmailExceptionHandler.kt
  employment/src/main/kotlin/com/info/info_v2_backend/employment/adapter/input/rest/configuration/EmploymentExceptionHandler.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/conifguration/NoticeExceptionHandler.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/adapter/input/web/rest/configuration/UserExceptionHandler.kt
Labels: apigateway, applies, auth, company, email, employment, notice, user

test
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/configuration/FeignErrorDecoder.kt
Labels: auth

update
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/configuration/FeignErrorDecoder.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/adapter/input/web/rest/configuration/UserExceptionHandler.kt
Labels: auth, user

update
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/configuration/AppliesExceptionHandler.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/configuration/AuthExceptionHandler.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/configuration/FeignErrorDecoder.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/configuration/CompanyExceptionHandler.kt
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/input/rest/configuration/EmailExceptionHandler.kt
  employment/src/main/kotlin/com/info/info_v2_backend/employment/adapter/input/rest/configuration/EmploymentExceptionHandler.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/conifguration/NoticeExceptionHandler.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/adapter/input/web/rest/configuration/UserExceptionHandler.kt
Labels: applies, auth, company, email, employment, notice, user

add logging
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/configuration/AppliesExceptionHandler.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/configuration/AuthExceptionHandler.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/configuration/CompanyExceptionHandler.kt
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/input/rest/configuration/EmailExceptionHandler.kt
  employment/src/main/kotlin/com/info/info_v2_backend/employment/adapter/input/rest/configuration/EmploymentExceptionHandler.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/conifguration/NoticeExceptionHandler.kt
Labels: applies, auth, company, email, employment, notice

update
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/configuration/AppliesExceptionHandler.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/configuration/AuthExceptionHandler.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/configuration/FeignErrorDecoder.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/configuration/CompanyExceptionHandler.kt
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/input/rest/configuration/EmailExceptionHandler.kt
  employment/src/main/kotlin/com/info/info_v2_backend/employment/adapter/input/rest/configuration/EmploymentExceptionHandler.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/conifguration/NoticeExceptionHandler.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/adapter/input/web/rest/configuration/UserExceptionHandler.kt
Labels: applies, auth, company, email, employment, notice, user

feign
  auth/build.gradle.kts
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/configuration/FeignConfiguration.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/configuration/FeignErrorDecoder.kt
Labels: auth

add feign error Decoder
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/rest/configuration/FeignConfiguration.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/rest/configuration/FeignErrorDecoder.kt
  auth/build.gradle.kts
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/configuration/FeignConfiguration.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/configuration/FeignErrorDecoderConfiguration.kt
  auth/src/main/resources/application.yml
  build.gradle.kts
  common/src/main/kotlin/com/info/info_v2_backend/common/exception/ErrorResponse.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/rest/configuration/FeignConfiguration.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/rest/configuration/FeignErrorDecoder.kt
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/output/rest/FeignConfiguration.kt
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/output/rest/configuration/FeignErrorDecoder.kt
  employment/src/main/kotlin/com/info/info_v2_backend/employment/adapter/output/rest/configuration/FeignAuthConfiguration.kt
  employment/src/main/kotlin/com/info/info_v2_backend/employment/adapter/output/rest/configuration/FeignErrorDecoder.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/rest/configuration/FeignAuthConfiguration.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/rest/configuration/FeignErrorDecoder.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/config/FeignConfiguration.kt
  user/src/main/resources/application.yml
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

update gradle
  applies/build.gradle.kts
  auth/build.gradle.kts
  company/build.gradle.kts
  email/build.gradle.kts
  employment/build.gradle.kts
  notice/build.gradle.kts
  statistics/build.gradle.kts
  user/build.gradle.kts
Labels: applies, auth, company, email, employment, notice, statistics, user

update yml
  auth/src/main/resources/application.yml
  user/src/main/resources/application.yml
Labels: auth, user

update
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/dto/request/register/RegisterCompanyRequest.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

Remove Password Hint
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/dto/request/register/CompanyContactRequest.kt
Labels: company

import error Decoder
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/rest/configuration/FeignConfiguration.kt
Labels: company

기업 소개 파일 필수 해제
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/dto/request/register/RegisterCompanyRequest.kt
Labels: company

기업 소개 필수 해제
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

notice work minute
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/dto/request/support/WorkTimeRequest.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/domain/support/WorkTime.kt
Labels: notice

patch build failes
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jdbc/mapper/JdbcNoticeVoMapper.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/rest/configuration/FeignConfiguration.kt
Labels: notice

notice
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/NoticeAdapter.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/LoadNoticeUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/output/LoadNoticePort.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/LoadNotice.kt
Labels: notice

add logging
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: notice

update query
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
Labels: notice

update
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/rest/configuration/FeignConfiguration.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/NoticeAdapter.kt
Labels: company, notice

change pagination
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/NoticeAdapter.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/LoadNoticeUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/output/LoadNoticePort.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/LoadNotice.kt
  notice/src/main/resources/application.yml
Labels: notice

yml
  notice/src/main/resources/application.yml
Labels: notice

pathvariable -> requestParam
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: notice

Controller Mapping other path
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: notice

make optional file
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/dto/request/register/RegisterCompanyRequest.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

test
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

add "cancel Leading" function
  .gitignore
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/input/MakeLeadingUsecase.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/MakeLeading.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/domain/Company.kt
Labels: company
