Repository info-dsm/INFO_Backend_v2, changes with the labels that .github/labeler.yml gives for each.
All labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

query NoticeByCompanyName API
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/NoticeAdapter.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/LoadNoticeUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/output/LoadNoticePort.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/LoadNotice.kt
Labels: notice

configure for RequestParam option
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: notice

inject space
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
Labels: notice

update
  apiGateway/src/main/kotlin/com/info/info_v2_backend/apiGateway/exception/GatewayExceptionHandler.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
Labels: apigateway, notice

bug fix
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
Labels: notice

edit query
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
Labels: notice

edit notice
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
Labels: notice

edit query
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
  notice/src/main/resources/application.yml
Labels: notice

make default for yml setting
  notice/src/main/resources/application.yml
Labels: notice

Intergrate search API
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/NoticeAdapter.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/LoadNoticeUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/output/LoadNoticePort.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/LoadNotice.kt
Labels: notice

update
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
Labels: notice

add Usecase when only entered smallClassification
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/LoadNotice.kt
Labels: notice

remove smallClassification
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
Labels: notice

add Transaction
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/CancelApply.kt
Labels: applies

add demo deplooyer
  .github/workflows/release-drafter-demo.yml
Labels: none

set as demo application
  applies/src/main/resources/application.yml
  auth/src/main/resources/application.yml
  company/src/main/resources/application.yml
  email/src/main/resources/application.yml
  file/src/main/resources/application.yml
  notice/src/main/resources/application.yml
  user/src/main/resources/application.yml
Labels: applies, auth, company, email, file, notice, user

set version
  .github/workflows/release-drafter-demo.yml
Labels: none

demo app
  applies/src/main/resources/application.yml
  auth/src/main/resources/application.yml
  company/src/main/resources/application.yml
  email/src/main/resources/application.yml
  file/src/main/resources/application.yml
  notice/src/main/resources/application.yml
  user/src/main/resources/application.yml
Labels: applies, auth, company, email, file, notice, user

update
  applies/src/main/resources/application.yml
  auth/src/main/resources/application.yml
  company/src/main/resources/application.yml
  email/src/main/resources/application.yml
  file/src/main/resources/application.yml
  notice/src/main/resources/application.yml
  user/src/main/resources/application.yml
Labels: applies, auth, company, email, file, notice, user

make as default
  applies/src/main/resources/application.yml
  auth/src/main/resources/application.yml
  company/src/main/resources/application.yml
  email/src/main/resources/application.yml
  file/src/main/resources/application.yml
  notice/src/main/resources/application.yml
  user/src/main/resources/application.yml
Labels: applies, auth, company, email, file, notice, user

Update README.md
  README.md
Labels: none

update && addCompanySearch Function
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/query/MongoCompanyDocumentAdapter.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/CompanyAdapter.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/repository/CompanyRepository.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/output/company/SearchCompanyPort.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/output/document/RemoveCompanyDocumentPort.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/output/document/SaveCompanyDocumentPort.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/output/document/SearchCompanyDocumentPort.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/LoadCompany.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

error fix
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/CompanyAdapter.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

update custom function
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/mongo/MongoCompanyDocumentAdapter.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/mongo/configuration/DataSourceProperty.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/mongo/configuration/MongoConfiguration.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/mongo/repository/CompanyDocumentRepository.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/CompanyAdapter.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/CompanyClassificationPreferenceAdapter.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/repository/CompanyClassificationPreferenceRepository.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/repository/CompanyRepository.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/input/LoadCompanyUsecase.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/input/classification/SetCompanyClassificationPreferenceUsecase.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/output/classifiction/LoadCompanyClassificationPort.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/output/classifiction/SaveCompanyClassificationPreferencePort.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/output/company/LoadCompanyPort.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/LoadCompany.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/classification/SetCompanyClassificationPreference.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/domain/Company.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/domain/classification/CompanyClassification.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/domain/classification/CompanyClassificationPreference.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/domain/classification/CompanyClassificationPreferenceIdClass.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/preference/NoticePreferenceAdapter.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticePreferenceRepository.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/LoadNoticeUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/noticePreference/LoadMyNoticePreferenceInfoUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/noticePreference/SetNoticePreferenceUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/output/noticePreference/LoadNoticePreferencePort.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/output/noticePreference/SaveNoticePreferencePort.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/LoadNotice.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/noticePreference/LoadMyNoticePreferenceInfo.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/noticePreference/SetNoticePreference.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/domain/noticePreference/NoticePreference.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/domain/noticePreference/NoticePreferenceIdClass.kt
Labels: company, notice

add loadMyCompanyPreferenceInfo
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/CompanyClassificationPreferenceAdapter.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/input/preference/LoadMyCompanyPreferenceInfoUsecase.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/input/preference/SetCompanyClassificationPreferenceUsecase.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/output/preference/LoadCompanyClassificationPort.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/output/preference/SaveCompanyClassificationPreferencePort.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/LoadCompany.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/preference/LoadMyCompanyPreferenceInfo.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/preference/SetCompanyClassificationPreference.kt
Labels: company

add getMyCompanyPreference function
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
Labels: company

set Response Status
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: company, notice

bug fix
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/preference/LoadMyCompanyPreferenceInfo.kt
Labels: company

fix EditInterviewReview
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/dto/request/interviewReview/EditInterviewReviewRequest.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/dto/request/interviewReview/EditWriteInterviewReviewRequest.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/input/interviewReview/EditInterviewReviewUsecase.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/interview/EditInterviewReview.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/domain/interview/InterviewReview.kt
Labels: company

.github/labeler.yml:

apigateway:
  - "apiGateway/**/*"
  - "common/**/*"
applies:
  - "common/**/*"
  - "applies/**/*"
auth:
  - "common/**/*"
  - "auth/**/*"
company:
  - "common/**/*"
  - "company/**/*"
email:
  - "common/**/*"
  - "email/**/*"
employment:
  - "common/**/*"
  - "employment/**/*"
file:
  - "common/**/*"
  - "file/**/*"
notice:
  - "common/**/*"
  - "notice/**/*"
statistics:
  - "common/**/*"
  - "statistics/**/*"
user:
  - "common/**/*"
  - "user/**/*"
