Repository info-dsm/INFO_Backend_v2, changes with the labels that .github/labeler.yml gives for each.
All labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

.github/labeler.yml:

apigateway:
  - "apiGateway/**/*"
  - "common/**/*"
applies:
  - "common/**/*"
  - "applies/**/*"
auth:
  - "common/**/*"
  - "auth/**/*"
company:
  - "common/**/*"
  - "company/**/*"
email:
  - "common/**/*"
  - "email/**/*"
employment:
  - "common/**/*"
  - "employment/**/*"
file:
  - "common/**/*"
  - "file/**/*"
notice:
  - "common/**/*"
  - "notice/**/*"
statistics:
  - "common/**/*"
  - "statistics/**/*"
user:
  - "common/**/*"
  - "user/**/*"

add company count
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/CompanyAdapter.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/input/CountCompanyUsecase.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/output/company/LoadCompanyPort.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/CountCompany.kt
Labels: company

companyCount
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/CompanyAdapter.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/repository/CompanyRepository.kt
Labels: company

count All
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/CompanyAdapter.kt
Labels: company

add log
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

d
  .github/workflows/release-drafter.yml
Labels: none

add output
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

d
  .github/workflows/release-drafter.yml
Labels: none

d
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

test
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

edit notice API
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/dto/request/EditNoticeRequest.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/EditNoticeUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/EditNotice.kt
Labels: notice

edit
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: notice

Company
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/CompanyAdapter.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/UpdateLastNoticedCompany.kt
Labels: company

cross origin
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: notice

cache settings
  notice/build.gradle.kts
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/conifguration/CachingConfiguration.kt
Labels: notice

caching
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
Labels: company

notice
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: notice

tasks logging && System authentication
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: notice

remove unused
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/conifguration/CachingConfiguration.kt
Labels: notice

settings
  company/build.gradle.kts
  user/build.gradle.kts
Labels: company, user

build
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/conifguration/CachingConfiguration.kt
Labels: company, notice

gradle
  company/build.gradle.kts
Labels: company

FindfirstContactor
  user/src/main/kotlin/com/info/info_v2_backend/user/adapter/output/persistence/UserPersistenceAdapter.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/adapter/output/persistence/repository/ContactorRepository.kt
Labels: user

f
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/AppliesController.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/port/input/ApplyAppliesUsecase.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/port/output/resume/ResumePort.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/ApplyApplies.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/input/rest/FileController.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/input/applies/UploadResumeUsecase.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/input/notice/UploadAttachmentUsecase.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadAttachment.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadResume.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/conifguration/CachingConfiguration.kt
Labels: applies, company, file, notice

remove caching
  company/build.gradle.kts
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
  notice/build.gradle.kts
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: company, notice

error
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/AppliesController.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/rest/FileFeignClient.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/port/input/ApplyAppliesUsecase.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/port/output/resume/ResumePort.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/ApplyApplies.kt
Labels: applies

remove github actions apiGateway
  .github/release-drafter-apigateway.yml
  .github/workflows/release-drafter.yml
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/UserFeignClient.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/port/output/intergration/UserFeignPort.kt
Labels: auth

change Password
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/AuthController.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/UserFeignClient.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/UserFeignClientFallback.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/port/output/intergration/UserFeignPort.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/port/output/userFeignPort/ChangePasswordPort.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/port/output/userFeignPort/LoadUserDetailsPort.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/port/output/userFeignPort/UserFeignPort.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/AuthDetailsService.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/ChangePassword.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/SendAuthenticationCode.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/adapter/input/web/rest/UserController.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/application/port/input/ChangePasswordUsecase.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/application/service/ChangePassword.kt
Labels: auth, user

LoadContactor
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/UserFeignClient.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/rest/UserFeignClientFallback.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/port/output/userFeignPort/LoadContactorPort.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/port/output/userFeignPort/UserFeignPort.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/Login.kt
Labels: auth

update
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/AppliesController.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/dto/respnose/AppliesResponse.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/rest/FileFeignClient.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/port/output/resume/ResumePort.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/LoadApplies.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/domain/Applies.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/AuthController.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/configuration/AuthExceptionHandler.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/dto/request/LoginRequest.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/dto/request/SaveStudentRequest.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/vaildation/SchoolEmail.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/vaildation/SchoolEmailValidator.kt
  company/build.gradle.kts
  company/src/main/kotlin/com/info/info_v2_backend/company/CompanyApplication.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/web/rest/CompanyController.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/repository/CompanyRepository.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/input/rest/FileController.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/ResumeFileAdapter.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/ResumeRepository.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/input/applies/LoadResumeUsecase.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/output/applies/LoadResumePort.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/LoadResume.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/adapter/input/web/rest/dto/request/SaveStudentDto.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/application/service/ChangePassword.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/application/service/SaveUser.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/domain/Student.kt
Labels: applies, auth, company, file, user

remove user drafter
  .github/workflows/release-drafter.yml
Labels: none

update
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/dto/request/SaveStudentRequest.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadResume.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/adapter/input/web/rest/dto/request/SaveStudentDto.kt
Labels: auth, file, user

remove school email validation on user login
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/dto/request/LoginRequest.kt
Labels: auth

update file query
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/AttachmentFileAdapter.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/AttachmentRepository.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/domain/notice/AttachmentNotice.kt
Labels: file

Evince @Query Parameter value
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/AttachmentRepository.kt
Labels: file

edit Resume Query
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/ResumeRepository.kt
Labels: file

update notice applicant count
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/AppliesController.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/rest/FileFeignClientFallback.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/ApplyApplies.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/ApproveApplies.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/LoadApplies.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/ResumeRepository.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/rest/AppliesFeignClient.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/LoadNoticeUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/LoadNotice.kt
Labels: applies, file, notice

update
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/AppliesController.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/dto/request/RejectAppliesRequest.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/dto/respnose/AppliesResponse.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/port/input/RejectAppliesUsecase.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/ApplyApplies.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/RejectApplies.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/domain/Applies.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/input/event/ChangeCompanyStatusConsumer.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/persistence/rdb/repository/CompanyRepository.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/rest/AuthFeignClientFallbackFactory.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/rest/FileFeignClient.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/adapter/output/rest/FileFeignClientFallbackFactory.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/input/ChangeCompanyStatusUsecase.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/port/output/file/CompanyFilePort.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/ChangeCompanyStatus.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/LoadCompany.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/domain/Company.kt
  email/src/main/resources/templates/notification.html
  employment/src/main/kotlin/com/info/info_v2_backend/employment/domain/company/EmploymentContactor.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/input/rest/FileController.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/CompanyFileAdapter.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/AttachmentRepository.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/CompanyFileRepository.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/ResumeRepository.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/input/company/LoadCompanyFileUsecase.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/output/company/LoadCompanyFilePort.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/LoadCompanyFile.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/dto/response/MaximumNoticeResponse.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jdbc/mapper/vo/NoticeVo.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/rest/AppliesFeignClient.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/domain/Notice.kt
Labels: applies, company, email, employment, file, notice

update
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/port/output/resume/ResumePort.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/ApplyApplies.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/input/rest/FileController.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/input/applies/RemoveResumeUsecase.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/RemoveAttachment.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/RemoveResume.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/rest/FileFeignClient.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/rest/FileFeignClientFallback.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/output/file/FilePort.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/EditNotice.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/change/ChangeAttachment.kt
Labels: applies, file, notice

applies resume feign
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/rest/FileFeignClient.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/rest/FileFeignClientFallback.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/CancelApply.kt
Labels: applies

add @Modifying
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/persistence/repository/AppliesRepository.kt
Labels: applies
