Repository info-dsm/INFO_Backend_v2, changes with the labels that .github/labeler.yml gives for each.
All labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

.github/labeler.yml:

apigateway:
  - "apiGateway/**/*"
  - "common/**/*"
applies:
  - "common/**/*"
  - "applies/**/*"
auth:
  - "common/**/*"
  - "auth/**/*"
company:
  - "common/**/*"
  - "company/**/*"
email:
  - "common/**/*"
  - "email/**/*"
employment:
  - "common/**/*"
  - "employment/**/*"
file:
  - "common/**/*"
  - "file/**/*"
notice:
  - "common/**/*"
  - "notice/**/*"
statistics:
  - "common/**/*"
  - "statistics/**/*"
user:
  - "common/**/*"
  - "user/**/*"

update drafts
  .github/release-drafter-applies.yml
  .github/release-drafter-auth.yml
  .github/release-drafter-company.yml
  .github/release-drafter-email.yml
  .github/release-drafter-employment.yml
  .github/release-drafter-file.yml
  .github/release-drafter-notice.yml
  .github/release-drafter-statistics.yml
  .github/release-drafter-user.yml
Labels: none

update github actions
  .github/workflows/release-drafter.yml
Labels: none

update Dockerfile: java provider
  apiGateway/Dockerfile
Labels: apigateway

update all
  .github/workflows/release-drafter.yml
  applies/Dockerfile
  auth/Dockerfile
  company/Dockerfile
  email/Dockerfile
  employment/Dockerfile
  eureka/Dockerfile
  file/Dockerfile
  notice/Dockerfile
  statistics/Dockerfile
  user/Dockerfile
Labels: applies, auth, company, email, employment, file, notice, statistics, user

edit runs on ubuntu-version -> ubuntu-latest
  .github/workflows/release-drafter.yml
Labels: none

remove wrong word
  .github/workflows/release-drafter.yml
Labels: none

github actions deployment
  .github/workflows/release-drafter.yml
Labels: none

Remove deprecated annotation
  company/src/main/kotlin/com/info/info_v2_backend/company/CompanyApplication.kt
Labels: company

update build script
  .github/workflows/release-drafter.yml
Labels: none

Test Commmit
  company/src/main/kotlin/com/info/info_v2_backend/company/CompanyApplication.kt
Labels: company

make gradle build step simple
  .github/workflows/release-drafter.yml
Labels: none

Test Commit
  company/src/main/kotlin/com/info/info_v2_backend/company/CompanyApplication.kt
Labels: company

update working directory
  .github/workflows/release-drafter.yml
Labels: none

TestCommit
  company/src/main/kotlin/com/info/info_v2_backend/company/CompanyApplication.kt
Labels: company

use environment variables
  .github/workflows/release-drafter.yml
Labels: none

Test Commit
  company/src/main/kotlin/com/info/info_v2_backend/company/CompanyApplication.kt
Labels: company

change docker file option
  .github/workflows/release-drafter.yml
Labels: none

Test Commit
  company/src/main/kotlin/com/info/info_v2_backend/company/CompanyApplication.kt
Labels: company

update Docker file
  company/Dockerfile
Labels: company

update company Dockerfile
  company/Dockerfile
Labels: company

Dockerfile
  company/Dockerfile
Labels: company

Test Commit
  company/src/main/kotlin/com/info/info_v2_backend/company/CompanyApplication.kt
Labels: company

change Dockerfiles
  applies/Dockerfile
  auth/Dockerfile
  email/Dockerfile
  employment/Dockerfile
  eureka/Dockerfile
  file/Dockerfile
  notice/Dockerfile
  statistics/Dockerfile
  user/Dockerfile
Labels: applies, auth, email, employment, file, notice, statistics, user

Remove unnecessary code
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
Labels: company

오류 수정
  file/src/main/resources/application.yml
Labels: file

update deploy draftor
  .github/workflows/release-drafter.yml
Labels: none

update Dockerfile
  file/Dockerfile
Labels: file

test commit
  build.gradle.kts
  file/Dockerfile
Labels: file

update Dockerfile
  file/Dockerfile
Labels: file

edit Dockerfile
  file/Dockerfile
Labels: file

Dockerfile
  file/Dockerfile
Labels: file

d
  file/Dockerfile
Labels: file

df
  file/Dockerfile
Labels: file

v
  file/Dockerfile
Labels: file

d
  .github/workflows/release-drafter.yml
  file/Dockerfile
Labels: file

fix Dockerfile error
  applies/Dockerfile
  auth/Dockerfile
  company/Dockerfile
  email/Dockerfile
  employment/Dockerfile
  eureka/Dockerfile
  notice/Dockerfile
  statistics/Dockerfile
  user/Dockerfile
Labels: applies, auth, company, email, employment, notice, statistics, user

logging
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/input/rest/FileController.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadCompanyFile.kt
Labels: file

CompanyFile Response
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/LoadCompany.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/application/service/RegisterCompany.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/domain/Company.kt
  company/src/main/kotlin/com/info/info_v2_backend/company/domain/introduction/CompanyIntroduction.kt
Labels: company

File Response Logging
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/input/rest/FileController.kt
Labels: file

S3 upload logging
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/aws/S3Uploader.kt
Labels: file
