Repository info-dsm/INFO_Backend_v2, changes with the labels that .github/labeler.yml gives for each.
All labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

Remove Async annotation
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadCompanyFile.kt
Labels: file

Remove Async annotation
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadResume.kt
Labels: file

Edit PresignedURL
  file/build.gradle.kts
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/aws/S3Uploader.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/aws/configuration/S3Configuration.kt
Labels: file

remove file type
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/rest/FileFeignClient.kt
Labels: notice

alter file url size
  file/src/main/kotlin/com/info/info_v2_backend/file/domain/File.kt
Labels: file

Add Transactional on Remove method
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/output/notice/RemoveAttachmentPort.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadAttachment.kt
Labels: file

Edit Error Log Format
  common/src/main/kotlin/com/info/info_v2_backend/common/exception/BusinessException.kt
  common/src/main/kotlin/com/info/info_v2_backend/common/logs/LogFormat.kt
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

logback settings
  apiGateway/src/main/resources/logback-prod.xml
  applies/src/main/resources/logback-prod.xml
  auth/src/main/resources/logback-prod.xml
  build.gradle.kts
  common/src/main/kotlin/com/info/info_v2_backend/common/exception/BusinessException.kt
  company/src/main/resources/logback-prod.xml
  email/src/main/resources/logback-prod.xml
  employment/src/main/resources/logback-prod.xml
  eureka/src/main/resources/logback-prod.xml
  file/src/main/resources/logback-prod.xml
  file/src/main/resources/tmp/Welcome to Hwp.hwpWelcome to Hwp.hwp
  file/src/main/resources/tmp/이력서&자소서양식(대덕소프트웨어마이스터고등학교).hwp이력서&자소서양식(대덕소프트웨어마이스터고등학교).hwp
  notice/src/main/resources/logback-prod.xml
  statistics/src/main/resources/logback-prod.xml
  user/src/main/resources/logback-prod.xml
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

make jar false
  build.gradle.kts
Labels: none

edit logback settings
  apiGateway/src/main/resources/logback-prod.xml
  applies/src/main/resources/logback-prod.xml
  auth/src/main/resources/logback-prod.xml
  company/src/main/resources/logback-prod.xml
  email/src/main/resources/logback-prod.xml
  employment/src/main/resources/logback-prod.xml
  eureka/src/main/resources/logback-prod.xml
  file/src/main/resources/logback-prod.xml
  notice/src/main/resources/logback-prod.xml
  statistics/src/main/resources/logback-prod.xml
  user/src/main/resources/logback-prod.xml
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

exception message default value
  common/src/main/kotlin/com/info/info_v2_backend/common/exception/BusinessException.kt
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

exception message default value
  common/src/main/kotlin/com/info/info_v2_backend/common/exception/BusinessException.kt
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

change active profile
  applies/src/main/resources/application.yml
  auth/src/main/resources/application.yml
  email/src/main/resources/application.yml
  user/src/main/resources/application.yml
Labels: applies, auth, email, user

remove sleuth, zipkin dependencies
  apiGateway/build.gradle.kts
  applies/build.gradle.kts
  auth/build.gradle.kts
  company/build.gradle.kts
  email/build.gradle.kts
  employment/build.gradle.kts
  notice/build.gradle.kts
  user/build.gradle.kts
Labels: apigateway, applies, auth, company, email, employment, notice, user

make jar output as one
  apiGateway/build.gradle.kts
  applies/build.gradle.kts
  auth/build.gradle.kts
  company/build.gradle.kts
  email/build.gradle.kts
  employment/build.gradle.kts
  file/build.gradle.kts
  notice/build.gradle.kts
  statistics/build.gradle.kts
  user/build.gradle.kts
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

edit file path
  apiGateway/src/main/resources/logback-prod.xml
  applies/src/main/resources/logback-prod.xml
  auth/src/main/resources/logback-prod.xml
  company/src/main/resources/logback-prod.xml
  email/src/main/resources/logback-prod.xml
  employment/src/main/resources/logback-prod.xml
  eureka/src/main/resources/logback-prod.xml
  file/src/main/resources/logback-prod.xml
  notice/src/main/resources/logback-prod.xml
  statistics/src/main/resources/logback-prod.xml
  user/src/main/resources/logback-prod.xml
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

build apiGateway
  .github/workflows/release-drafter.yml
  apiGateway/build.gradle.kts
Labels: apigateway

develop branch rewrite as main
  .github/workflows/release-drafter.yml
Labels: none

test apiGateway
  apiGateway/build.gradle.kts
Labels: apigateway

edit logback xml
  user/src/main/resources/logback-prod.xml
Labels: user

Cloudflare sender
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/output/email/adapter/SmtpSendAdapter.kt
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/output/rest/CloudflareFeignClient.kt
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/output/rest/dto/CloudflareMailDto.kt
Labels: email

선생님 companyNumber 권한 체크 오류
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: notice

change email sender
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/output/email/adapter/SmtpSendAdapter.kt
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/output/rest/CloudflareFeignClient.kt
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/output/rest/dto/CloudflareMailDto.kt
Labels: email

test
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: notice

reactions
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/output/rest/CloudflareFeignClient.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: email, notice

set cloudflare feign client name
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/output/rest/CloudflareFeignClient.kt
Labels: email

change logback xml
  email/src/main/resources/logback-prod.xml
Labels: email

change appender ref
  email/src/main/resources/logback-prod.xml
Labels: email

add gradle log4j2
  email/build.gradle.kts
Labels: email

rollback email sender
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/output/email/adapter/SmtpSendAdapter.kt
Labels: email

Error Exception Handling
  apiGateway/src/main/kotlin/com/info/info_v2_backend/apiGateway/exception/GatewayExceptionHandler.kt
Labels: apigateway

edit notice api
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/EditNotice.kt
Labels: notice

patch edit notice API
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/EditNotice.kt
Labels: notice

s
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/EditNotice.kt
Labels: notice

Count Open Notice
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/NoticeAdapter.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/CountOpenNoticeUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/output/LoadNoticePort.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/LoadNotice.kt
Labels: notice

change company file column name
  file/src/main/kotlin/com/info/info_v2_backend/file/domain/company/CompanyFile.kt
Labels: file

remove logback xml
  apiGateway/src/main/resources/logback-prod.xml
  applies/src/main/resources/logback-prod.xml
  auth/src/main/resources/logback-prod.xml
  company/src/main/resources/logback-prod.xml
  email/src/main/resources/logback-prod.xml
  employment/src/main/resources/logback-prod.xml
  eureka/src/main/resources/logback-prod.xml
  file/src/main/resources/logback-prod.xml
  notice/src/main/resources/logback-prod.xml
  statistics/src/main/resources/logback-prod.xml
  user/src/main/resources/logback-prod.xml
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

make save file URL without parameter
  common/src/main/kotlin/com/info/info_v2_backend/common/file/FileConvert.kt
  common/src/main/kotlin/com/info/info_v2_backend/common/file/dto/FileDto.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadAttachment.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadCompanyFile.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadResume.kt
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

Add Pay maximumNoticeResponse
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/dto/response/AdminMaximumNoticeResponse.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/dto/response/MaximumNoticeResponse.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/port/input/LoadNoticeUsecase.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/application/service/LoadNotice.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/domain/Notice.kt
Labels: notice

change controller mapping admin maximum notice response
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/input/rest/NoticeController.kt
Labels: notice

.github/labeler.yml:

apigateway:
  - "apiGateway/**/*"
  - "common/**/*"
applies:
  - "common/**/*"
  - "applies/**/*"
auth:
  - "common/**/*"
  - "auth/**/*"
company:
  - "common/**/*"
  - "company/**/*"
email:
  - "common/**/*"
  - "email/**/*"
employment:
  - "common/**/*"
  - "employment/**/*"
file:
  - "common/**/*"
  - "file/**/*"
notice:
  - "common/**/*"
  - "notice/**/*"
statistics:
  - "common/**/*"
  - "statistics/**/*"
user:
  - "common/**/*"
  - "user/**/*"
