Repository info-dsm/INFO_Backend_v2, changes with the labels that .github/labeler.yml gives for each.
All labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

.github/labeler.yml:

apigateway:
  - "apiGateway/**/*"
  - "common/**/*"
applies:
  - "common/**/*"
  - "applies/**/*"
auth:
  - "common/**/*"
  - "auth/**/*"
company:
  - "common/**/*"
  - "company/**/*"
email:
  - "common/**/*"
  - "email/**/*"
employment:
  - "common/**/*"
  - "employment/**/*"
file:
  - "common/**/*"
  - "file/**/*"
notice:
  - "common/**/*"
  - "notice/**/*"
statistics:
  - "common/**/*"
  - "statistics/**/*"
user:
  - "common/**/*"
  - "user/**/*"

update
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/AppliesController.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/input/rest/dto/respnose/AppliesResponse.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/persistence/AppliesPersistenceAdapter.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/persistence/repository/AppliesRepository.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/rest/CompanyFeignClient.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/rest/CompanyFeignClientFallbackFactory.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/rest/configuration/FeignConfiguration.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/port/input/LoadAppliesUsecase.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/port/output/applies/LoadAppliesPort.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/port/output/company/LoadCompanyPort.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/ApplyApplies.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/LoadApplies.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/domain/Applies.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/domain/company/AppliesCompany.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/domain/notice/AppliesNotice.kt
  common/src/main/kotlin/com/info/info_v2_backend/common/notice/NoticeDto.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/domain/Notice.kt
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

update
  email/src/main/kotlin/com/info/info_v2_backend/email/adapter/output/rest/FeignConfiguration.kt
  employment/src/main/kotlin/com/info/info_v2_backend/employment/adapter/output/rest/configuration/FeignAuthConfiguration.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/config/FeignConfiguration.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/config/FeignErrorDecoder.kt
Labels: email, employment, statistics

Update README.md
  README.md
Labels: none

add component fallback factory
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/rest/CompanyFeignClientFallbackFactory.kt
Labels: applies

update Classification
  notice/src/main/kotlin/com/info/info_v2_backend/notice/domain/Notice.kt
Labels: notice

give enum as string when try jpa native query task
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/persistence/AppliesPersistenceAdapter.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/persistence/repository/AppliesRepository.kt
Labels: applies

give enum as string when try jpa native query task
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/persistence/AppliesPersistenceAdapter.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/persistence/repository/AppliesRepository.kt
Labels: applies

edit joinToString
  notice/src/main/kotlin/com/info/info_v2_backend/notice/domain/Notice.kt
Labels: notice

edit applies count logic
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/persistence/repository/AppliesRepository.kt
  applies/src/main/kotlin/com/info/info_v2_backend/applies/application/service/ApplyApplies.kt
Labels: applies

add log
  user/src/main/kotlin/com/info/info_v2_backend/user/application/service/SaveUser.kt
Labels: user

edit Check Authentication Code logic
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/persisetnece/CodePersistenceAdapter.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/persisetnece/repository/CodeRepository.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/port/output/LoadCodePort.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/CheckCode.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/Reissue.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/Signup.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/domain/Code.kt
Labels: auth

remove entrance year input
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/input/rest/dto/request/SaveStudentRequest.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/adapter/input/web/rest/dto/request/SaveStudentDto.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/domain/Student.kt
Labels: auth, user

update wrong syntax
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/persistence/repository/AppliesRepository.kt
Labels: applies

update wrong query
  applies/src/main/kotlin/com/info/info_v2_backend/applies/adapter/output/persistence/repository/AppliesRepository.kt
Labels: applies

edit user entrance year
  user/src/main/kotlin/com/info/info_v2_backend/user/domain/Student.kt
Labels: user

edit
  user/src/main/kotlin/com/info/info_v2_backend/user/domain/Student.kt
Labels: user

update
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/repository/NoticeRepository.kt
Labels: notice

update
  build.gradle.kts
  common/src/main/kotlin/com/info/info_v2_backend/common/file/dto/AnnouncementFileResponse.kt
  file/build.gradle.kts
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/input/rest/FileController.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/AnnouncementRepository.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/input/announce/LoadAnnouncementFileUsecase.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/input/announce/UploadAnnouncementFileUsecase.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/output/announce/LoadAnnouncementFilePort.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/LoadAnnouncementFile.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadAnnouncementFile.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/domain/announcement/Announcement.kt
  notice/build.gradle.kts
  statistics/build.gradle.kts
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/business/service/AnnouncementService.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/business/service/AnnouncementServiceImpl.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/business/service/StatisticsService.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/business/service/StatisticsServiceImpl.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/infra/feign/FileFeignClient.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/infra/feign/FileFeignClientFallback.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/infra/feign/config/FeignConfiguration.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/infra/feign/config/FeignErrorDecoder.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/entity/announcement/Announcement.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/entity/statistics/StatCompanyInformationResponse.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/entity/statistics/StatHiredTimeGraph.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/entity/statistics/StatInformation.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/entity/statistics/StatStudentInformationResponse.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/entity/statistics/StatTotalInformationResponse.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/repository/AnnouncementRepository.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/repository/StatInformationRepository.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/StatisticsController.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/dto/request/CreateAnnouncementRequest.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/dto/response/MaximumAnnouncementResponse.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/dto/response/MinimumAnnouncementResponse.kt
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

remove duplicated feign config
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/config/FeignConfiguration.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/config/FeignErrorDecoder.kt
Labels: statistics

update
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/StatisticsApplication.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/StatisticsController.kt
  statistics/src/main/resources/application.yml
Labels: statistics

edit local to default
  statistics/src/main/resources/application.yml
Labels: statistics

edit Sort option
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/business/service/AnnouncementServiceImpl.kt
Labels: statistics

update user profile
  common/src/main/kotlin/com/info/info_v2_backend/common/user/StudentDto.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/adapter/input/web/rest/dto/request/SaveStudentDto.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/adapter/output/persistence/repository/ProfilePhotoRepository.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/domain/Student.kt
  user/src/main/kotlin/com/info/info_v2_backend/user/domain/profile/ProfilePhoto.kt
Labels: apigateway, applies, auth, company, email, employment, file, notice, statistics, user

add profile photo join column on user
  user/src/main/kotlin/com/info/info_v2_backend/user/domain/Student.kt
Labels: user

add announcement type
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/business/service/AnnouncementServiceImpl.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/entity/announcement/Announcement.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/entity/announcement/AnnouncementType.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/dto/request/CreateAnnouncementRequest.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/dto/response/MaximumAnnouncementResponse.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/dto/response/MinimumAnnouncementResponse.kt
Labels: statistics

changes
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jpa/classification/SmallClassificationUsageRepository.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/entity/announcement/Announcement.kt
Labels: notice, statistics

update
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/entity/announcement/Announcement.kt
Labels: statistics

update
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/input/rest/FileController.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/AnnouncementFileAdapter.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/AnnouncementFileRepository.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/adapter/output/persistence/repository/AnnouncementRepository.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/input/announce/UploadAnnouncementFileUsecase.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/port/output/announce/UploadAnnouncementFilePort.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/LoadAnnouncementFile.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/application/service/UploadAnnouncementFile.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/domain/announcement/AnnouncementFile.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jdbc/LoadNoticeAdapter.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/business/service/AnnouncementService.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/business/service/AnnouncementServiceImpl.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/entity/announcement/Announcement.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/repository/AnnouncementRepository.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/StatisticsController.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/dto/response/MaximumAnnouncementResponse.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/dto/response/MinimumAnnouncementResponse.kt
Labels: file, notice, statistics

test
  notice/src/main/kotlin/com/info/info_v2_backend/notice/domain/recruitmentBusiness/RecruitmentSmallClassificationUsage.kt
Labels: notice

bug testing
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jdbc/LoadNoticeAdapter.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/domain/recruitmentBusiness/RecruitmentSmallClassificationUsage.kt
Labels: notice

remove logging
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jdbc/LoadNoticeAdapter.kt
  notice/src/main/kotlin/com/info/info_v2_backend/notice/adapter/output/persistence/jdbc/configuration/DatasourceConfiguration.kt
Labels: notice

add Zone option
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/entity/announcement/Announcement.kt
Labels: statistics

add filtering by announcementType feature
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/business/service/AnnouncementService.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/business/service/AnnouncementServiceImpl.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/persistance/repository/AnnouncementRepository.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/StatisticsController.kt
Labels: statistics

update
  file/src/main/kotlin/com/info/info_v2_backend/file/domain/announcement/AnnouncementFile.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/business/service/AnnouncementServiceImpl.kt
Labels: file, statistics

changes
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/persisetnece/CodePersistenceAdapter.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/adapter/output/persisetnece/repository/CodeRepository.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/domain/Code.kt
  file/src/main/kotlin/com/info/info_v2_backend/file/domain/announcement/AnnouncementFile.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/business/service/AnnouncementServiceImpl.kt
Labels: auth, file, statistics

type name
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/CheckCode.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/Reissue.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/Signup.kt
Labels: auth

update auth code
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/Login.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/Reissue.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/SendAuthenticationCode.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/domain/Code.kt
Labels: auth

good
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/Signup.kt
Labels: auth

add teacher auth code
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/env/AuthenticationCodeProperty.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/Signup.kt
Labels: auth

check Authentication && Exception Handling
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/env/AuthenticationCodeProperty.kt
  auth/src/main/kotlin/com/info/info_v2_backend/auth/application/service/Signup.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/global/exception/StatisticsExceptionHandler.kt
  statistics/src/main/kotlin/com/info/info_v2_backend/statistics/presentation/StatisticsController.kt
Labels: auth, statistics
